body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-color: black;
    background-size: contain;
    margin:auto;
}
html {
    height: 100%;
}

.logo {
    position: fixed;
    width: 17%;
    height: 140px;
    top: 0px;
    left: 0px;
}
.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 83%;
    right: 0;

}

.navbar a {
    float: left;
    display: block;
    color: #ff751a;
    text-align: center;
    padding: 15px 28px;
    text-decoration: none;
    font-size: 29px;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
}
#leaderboard, #stats {
    font-weight: bold;
    color: #ff944d;
}
.navbar a:hover {
    font-weight: bold;
    color: #ff944d;
}
/* Dropdown Button */
.dropbtn {
    padding: 16px;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: fixed;
    margin-top: 3.5%;
}

#leaders {
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    color: #ff751a;
    position: absolute;
    display: block;
    width: 690px;
    height: 300px;
    left: 50%;
    margin-left: -345px;
    top: 20%;
    text-align: center;
    font-weight: normal;

}
#leaders div {
    float: left;
    width: 230px;
    height: 100px;
    
}
.dropdown-content a{
    color: #ff944d;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#gameDrop,  #universeDrop{
    margin-left: 13%;
}
#statsDrop {
    margin-left: 4%;
}
hr {
    overflow: hidden;
    color:#2e0c27;
    position: fixed;
    top: 6.5%;
    width: 73.5%;
    margin-left: 19.3%;
}

h1 {
    overflow: hidden;
    position: absolute;
    top: 24%;
    width: 860px;
    left: 50%;
    margin-left: -430px;

    font-weight: normal;
    text-transform: uppercase;
    font-size: 50px;
    color: #ff751a;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="text"] {
    color: #ff944d;
    overflow: hidden;
    width: 760px;
    left: 50%;
    margin-left: -430px;
    height: 36px;
    padding: 5px;
    border-radius: 0%;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;    
    position: absolute;
    border: 2px solid #ff944d;
    top: 40%;
}
table {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    overflow: hidden;
    top: 65%;
    text-align: center;
    width: 690px;
    left: 50%;
    margin-left: -345px;
    
}

td {
    padding: 10px 20px;
}
.title {
 
    color: #ff751a;
    font-size: 26px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 30px;
    
}

.fields {
    background-color: #f4d7ee;
    opacity: 0.6;
    font-size: 20px;
    color: #2e0c27;
}

#firstPlace a, #thirdPlace h4 {
    font-size: 22px;
    margin: 3px 5px;
    cursor: pointer;
    
}
#firstPlace p, #secondPlace p, #thirdPlace p {
    margin: 3px 5px;
    color: #ff944d;
}
#secondPlace h4 {
    font-size: 18px;
    margin: 3px 5px;
    cursor: pointer;
}
#secondPlace {
    margin-top: 55px;
}

#thirdPlace {
    margin-top: 75px;
}

#firstPlace a {
    text-decoration: none;
    color: #ff751a;
    font-weight: bold;
}
@media (max-width: 768px) {
  .navbar a {
      font-size: 20px;
      padding: 15px 5px;
  }
}
