body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-color: black;
    background-size: contain;
    margin:auto;
}
html {
    height: 100%;
}

.logo {
    position: fixed;
    width: 17%;
    height: 140px;
    top: 0px;
    left: 0px;
}
.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 83%;
    right: 0;

}

.navbar a {
    float: left;
    display: block;
    color: #ff751a;
    text-align: center;
    padding: 15px 28px;
    text-decoration: none;
    font-size: 29px;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
}
.navbar a:hover {
    font-weight: bold;
    color: #ff944d;
}
hr {
    overflow: hidden;
    color:#2e0c27;
    position: fixed;
    top: 6.5%;
    width: 73.5%;
    margin-left: 19.3%;
}
#steps {
    overflow: hidden;
    position: fixed;
    top: 8%;
    margin-left: 18%;
}

#getNames {
    color: #ff751a;
    overflow: hidden;
    position: absolute;
    top: 28%;
    width: 700px;
    left: 50%;
    margin-left: -350px;

    font-weight: normal;
    text-transform: uppercase;
    font-size: 46px;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="text"] {
    color: #ff944d;
    overflow: hidden;
    height: 30px;
    padding: 5px;
    border-radius: 0%;
    border-bottom-color: #f4d7ee;
    background-color: transparent;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    top: 44%;
    width: 300px;
    position: absolute;
    border-width: 0px 0px 2px 0px;
}
::placeholder {
    color: #ff944d;
    opacity: unset;
}

#name {
    left: 23.5%;

}
#surname {
    left: 51.5%;
}
button {
    overflow: hidden;
    top: 62%;
    width: 400px;
    height: 60px;
    font-size: 36px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #f4d7ee;
    text-transform: uppercase;
    background-color: transparent;
    border: 4px solid #ff751a;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    cursor: pointer;
}